html, body {
    margin: 0;
    padding: 0;
    font: 62.5% sans-serif;
    background: white;
    overflow-x: hidden;
}
header {
    background: rgb(255, 127, 80);
    padding: 1rem;
    color: white;
    font-size: 2.4rem;
    overflow: hidden;
}
h2 {
    font-size: 2rem;
}
.no-items::after {
    content: "No notes yet";
    padding: 1rem;
    display: block;
}
#save {
    width: 100%;
    height: 20vw;
    font-size: 2rem;
    background: white;
    color: rgb(255, 127, 80);
}
#save:hover {
    background: rgb(255, 127, 80);
    color: white;
}
#coordinates-text {
    width: 100%;
    height: 12rem;
    font-size: 1.5rem;
}
#coordinates {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}
#coordinates li {
    padding: 1em;
    border-bottom: solid 1px gray;
}
